@import url(style.css);
@media (max-width:576px) {
    * {
        font-size: 23px;
    }
    .contenedor-logo>h2 {
        display: none;
    }
    .card-contact {
        width: 95%;
    }
    .card-top {
        margin: 1rem 0.5rem 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .foto-perfil {
        width: 5rem;
        border-radius: 0.7rem;
    }
    .informacion {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: start;
    }
    .card-info {
        width: 95%;
        border-radius: 0;
    }
    .color-back {
        border-radius: 0;
    }
    .content-works {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .elemento {
        display: flex;
        margin: 0.3rem;
        flex-direction: column;
        align-items: center;
        align-content: center;
        border-radius: 1rem;
    }
    .imagen {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-work {
        width: 5rem;
        height: 5rem;
    }
    .content-separador {
        display: none;
    }
    .info {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        align-items: center;
        text-align: center;
    }
    .img-cur>img {
        width: 3rem;
        height: 3rem;
    }
    .elemento-proyecto {
        width: 100%;
    }
    .img-first {
        width: 100%;
    }
    .thumbnails {
        width: 22%;
        margin: 1%;
        border-radius: 0;
    }
    #mid>a {
        margin-top: 3%;
    }
    .formulario-contacto {
        flex-direction: column;
    }
    .message-section {
        width: 100%;
        margin-bottom: 0;
    }
    .email-section {
        width: 95%;
        margin: 1rem;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .presentacion {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .card-contact {
        width: 95%;
    }
}