@import url(style.css);
@media (max-width: 800px) {
  * {
    font-size: 23px;
  }
  .ocultar{
    display: none;
  }

  body::-webkit-scrollbar {
    display: none; /* width of the entire scrollbar */
  }
  
  #ojo {
    display: flex;
    border-radius: 50%;
    padding: 0.3rem 0.9rem;
    justify-content: center;
    color: var(--colorLetraBlanca);
    background-color: var(--colorNegro);
  }

  #ojo:hover {
    cursor: pointer;
  }

  #navbar {
    display: flex;
    position: fixed;
    right: 0.1rem;
    top: 1.65rem;
    margin: 0.3rem;
    z-index: 10;
    transition: var(--anim);
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  #menu-palabras{
    display: none;
  }
  #menu-palabras li a{
    font-size: 1rem;
  }

  .top {
    border-radius: 1rem 1rem 0 0!important;
  }
  .low {
    border-radius: 0 0 1rem 1rem!important;
  } 

  .nav{
    display: flex;
    flex-direction: column;
  }

  .exp {
    display: block;
  }
  .contenedor-logo > h2 {
    display: none;
  }
  .presentacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .card-contact {
    margin-top: -1.5rem;
    width: 100%;
    border-radius: 0;
  }
  .card-top {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .foto-perfil {
    width: 10rem;
    border-radius: 7rem;
    border: 0.4rem solid var(--colorSecundario);
    padding: 0.1rem;
  }
  .informacion {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: start;
  }
  .card-info {
    width: 100%;
    border-radius: 0;
  }

  .color-back {
    border-radius: 0;
  }
  .elemento {
    height: 95%;
    display: flex;
    margin: 0.3rem;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 1rem;
  }
  .box-width > h3 {
    font-size: 0.7rem;
    text-align: center;
  }

  .box-width  h5 {
    font-size: .8rem;
  }

  .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-work {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0;
  }
  .content-separador {
    display: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
  }
  .img-cur > img {
    width: 3rem;
    height: 3rem;
  }

  #mid {
    width: 100%;
    padding: 1rem 0;
  }

  .elemento-proyecto {
    width: 100%;
  }

  .grid img {
    width: 70vw;
  }

  .formulario-contacto {
    flex-direction: column;
    width: 100%;
  }
  .message-section {
    width: 100%;
    margin-bottom: 0;
  }
  .email-section {
    width: 95%;
    margin: 1rem;
    margin-top: 0;
  }
  footer {
    width: 85%;
    margin: 0.3rem;
  }


  /* VISOR DE FOTOS */
  
  .visor-img img {
    top: 35%;
    width: 90vw;
    height: 35vh;
    position: absolute;
    z-index: -1;
  }

  .visor-img button {
    top: 30%;
    right: 40%;
    margin: 1rem;
    position: absolute;
  }

  
}
